/Client/Client.sln
/Client/.vs
/Client/Library
/Client/Temp
/Client/Client.csproj
/Client/Client.Editor.csproj
/Client/obj
/Client/UnityPackageManager
/Client/Packages
/Server/UnityServer/Server/Library
/Server/UnityServer/Server/Temp
/Server/UnityServer/Server/.vs
/Server/UnityServer/Server/obj
/Server/UnityServer/Server/Assembly-CSharp.csproj
/Server/UnityServer/Server/Server.sln
/Client/Assembly-CSharp.csproj
/Client/Assembly-CSharp-Editor.csproj
/Resources/UnityClient/Library
/Resources/UnityClient/obj
/Resources/UnityClient/Temp
/Resources/UnityClient/Assembly-CSharp.csproj
/Resources/UnityClient/Assembly-CSharp-Editor.csproj
/Resources/UnityClient/Client.sln
/Resources/UnityClient/packages.config
/Resources/UnityClient/.vs
/Resources/UnityServer/.vs
/Resources/UnityServer/Library
/Resources/UnityServer/obj
/Resources/UnityServer/Packages
/Resources/UnityServer/Temp
/Resources/UnityServer/Assembly-CSharp.csproj
/Resources/UnityServer/Server.sln
/Resources/UnityClient/Packages
/Client/packages.config
/Resources/UnityClient/*.sln
/Resources/UnityClient/ProjectSettings/ProjectVersion.txt
/Resources/UnityServer/ProjectSettings/ProjectVersion.txt
/Resources/UnityServer/UnityServer.sln
/Resources/GM/.vs
/Resources/GM/GM.sln
/Resources/GM/GM/obj
/Resources/GM/GM/bin
/Resources/GM/GM/GM.csproj
/Server/Server/Server.sln
/Server/Server/.vs
/Server/Server/bin
/Server/Server/obj
/Server/Server/Server.csproj
/ClientBack/.vs
/ClientBack/Library
/ClientBack/obj
/ClientBack/Temp
/ClientBack/ProjectSettings
/ClientBack/Assets
/ClientBack/Packages
/Tools/CSV/CsvReader/CsvReader/obj
/Tools/CSV/CsvReader/CsvReader/bin
/Tools/CSV/CsvReader/.vs
/Tools/AI/Behaviac/.vs
/Tools/AI/Behaviac/BehaviacDesignerBase/obj
/Tools/AI/Behaviac/Plugins/ExamplePlugin/.vs
/Tools/AI/Behaviac/Plugins/ExamplePlugin/obj
/Tools/AI/Behaviac/Plugins/PluginBehaviac/obj
/Tools/AI/Behaviac/BehaviacDesigner/obj
/Tools/AI/Behaviac/External/DockPanel/WinFormsUI/obj
/Tools/AI/Behaviac/External/DockPanel/WinFormsUI/bin
/Tools/AI/Behaviac/out/PluginBehaviac.pdb
/Tools/AI/Behaviac/out/BehaviacDesigner.pdb
/Tools/AI/Behaviac/out/BehaviacDesignerBase.pdb
/Tools/AI/Behaviac/out/ExamplePlugin.pdb
/Client/*.log
/Tools/CSV/CsvReader.exe.config
/Tools/CSV/CsvReader.pdb
/ClientBack/Assembly-CSharp-Editor.csproj
/ClientBack/Assembly-CSharp.csproj
/ClientBack/ClientBack.sln
/ClientBack/_behaviac_$_.log
/Server/Server/packages/Newtonsoft.Json.12.0.1/lib/net40
/Server/Server/packages/Newtonsoft.Json.12.0.1/lib/net20
/Server/Server/packages/Newtonsoft.Json.12.0.1/lib/net35
/Server/Server/packages/Newtonsoft.Json.12.0.1/lib/netstandard1.3
/Server/Server/packages/Newtonsoft.Json.12.0.1/lib/portable-net40+sl5+win8+wp8+wpa81
/Server/Server/packages/Newtonsoft.Json.12.0.1/lib/portable-net45+win8+wp8+wpa81
/Server/Server/packages/MySql.Data.8.0.14/lib/netstandard1.6
/Client/Unity.Analytics.DataPrivacy.csproj
/Client/Unity.CollabProxy.Editor.csproj
/Client/Unity.PackageManagerUI.Editor.csproj
/Client/Unity.TextMeshPro.Editor.csproj
/Client/Unity.TextMeshPro.csproj
/Sublime.sublime-workspace
/Client/Assembly_AI.csproj
/Client/Assembly_Editor.csproj
/Client/Assembly_FrameWork.csproj
/Client/Assembly_HotUpdate.csproj
/Client/Assembly_LogicData.csproj
/Client/Assembly_Proto.csproj
/Client/Assembly_ThridParty.csproj
/Deployment
/Client/Assembly-CSharp-Editor-firstpass.csproj
/Client/Assembly-CSharp-firstpass.csproj
/Client/Client.Editor.Plugins.csproj
/Client/Client.Plugins.csproj
/Client/Assets/EditorResources/Prefab/Bullet/Materials.meta
/Client/Assets/EditorResources/Prefab/Equipment/Materials.meta
/Client/Assets/EditorResources/Prefab/Player/Materials.meta
/Client/Assets/EditorResources/Prefab/Weapons/Materials.meta
/Client/Assets/Resources/Preset.meta
/Client/.vscode
/Client/bTools.Transform.Editor.csproj
/*.sublime-workspace
/Client/app.config
/Client/Unity.2D.Sprite.Editor.csproj
/Client/Unity.2D.Sprite.Package.EditorTests.csproj
/Client/Unity.2D.Tilemap.Editor.csproj
/Client/Unity.2D.Tilemap.EditorTests.csproj
/Client/Unity.Timeline.Editor.csproj
/Client/Unity.Timeline.Package.EditorTests.csproj
/Client/Unity.Timeline.Package.Tests.csproj
/Client/Unity.Timeline.csproj
/Client/UnityEditor.UI.EditorTests.csproj
/Client/UnityEditor.UI.csproj
/Client/UnityEngine.UI.Tests.csproj
/Client/UnityEngine.UI.csproj
/ClientBackup
/Client/UnityUIExtensions.editor.csproj
/Client/Assembly-CSharp.csproj.user
/Client/Logs
/Client/.idea/.idea.Client/.idea/contentModel.xml
/Client/.idea/.idea.Client/.idea/indexLayout.xml
/Client/.idea/.idea.Client/.idea/modules.xml
/Client/.idea/.idea.Client/.idea/vcs.xml
/Client/.idea/.idea.Client/.idea/workspace.xml
/Client/.idea/.idea.Client/riderModule.iml
/Client/Assets/Plugins/Editor.meta
/Client/Assets/Plugins/Editor/JetBrains.meta
/Client/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
/Client/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
/Client/.idea
/Client/Assets/Scripts/Runtime/HotUpdate/Logic/System/Sys_Task/TaskEntry/TaskEntry.cs___jb_tmp___.meta
/Client/Assembly-CSharp.csproj.meta
/Client/Assembly-CSharp-Editor.csproj.meta
/Client/Assembly-CSharp-Editor-firstpass.csproj.meta
/Client/Assembly-CSharp-firstpass.csproj.meta
/Client/Assets.meta
/Client/UIElementsSchema/UIElements.xsd
/Client/UIElementsSchema/UnityEditor.Experimental.UIElements.xsd
/Client/UIElementsSchema/UnityEditor.PackageManager.UI.xsd
/Client/UIElementsSchema/UnityEngine.Experimental.UIElements.xsd
/Client/OSA-Editor.csproj
/Client/OSA.csproj
/Client/Animancer.csproj
/Client/Animancer.Examples.csproj
/Client/Animancer.FSM.csproj
Client/ProjectSettings/ProjectVersion.txt
/Client/ProjectSettings/ProjectVersion.txt
/Client/ILRuntime.csproj
/Client/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/Client/Unity.RenderPipelines.Core.Editor.csproj
/Client/Unity.RenderPipelines.Core.Editor.Tests.csproj
/Client/Unity.RenderPipelines.Core.Runtime.csproj
/Client/Unity.RenderPipelines.Core.Runtime.Tests.csproj
/Client/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Client/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Client/Unity.RenderPipelines.Universal.Editor.csproj
/Client/Unity.RenderPipelines.Universal.Editor.Tests.csproj
/Client/Unity.RenderPipelines.Universal.Runtime.csproj
/Client/Unity.RenderPipelines.Universal.Runtime.Tests.csproj
/Client/Unity.RenderPipelines.Universal.Shaders.csproj
/Client/Unity.ShaderGraph.Editor.csproj
/Client/Unity.ShaderGraph.Editor.Tests.csproj
/Client/Unity.ShaderGraph.Utilities.csproj
